.folder {
  user-select: none;
}

.folder-name {
  display: inline-block;
  z-index: 1;
  position: relative;
  padding-right: 5px;
  padding-left: 3px;
}

.folder-name-closed {
  background: var(--page-color);
  color: var(--text-color);
  transition-duration: 100ms;
}

.folder-name-closed::before {
  content: "";
  position: absolute;
  background: var(--highlight-text-color);
  left: 0;
  top: 0;
  bottom: 0;
  transition-duration: 100ms;
  width: 0%;
  z-index: -1;
}

.folder-name-closed:hover {
  color: var(--page-color);
  background: transparent;
}

.folder-name-closed:hover::before {
  width: 100%;
}

.folder-name-opened {
  background: var(--highlight-text-color);
  color: var(--page-color);
}
