.header {
  border-bottom: 1px solid var(--line-color);
  display: flex;
  align-items: center;
  height: 44px;
}

.header-site-logo {
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--line-color);
  height: 100%;
  text-decoration: none;
}
.header-site-logo * {
  text-decoration: none !important;
}
