@font-face {
  font-family: Krypton;
  src: url(./Krypton.ttf);
}

:root {
  font-family: Krypton, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

:root {
  --page-color: #0c0c0c;
  --text-color: #d1d1d1;
  --imp-text-color: white;
  --line-color: #323232;
  --highlight-text-color: white;
}

body {
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}

.base-padding {
  padding: 10px 20px;
}

.imp-text {
  font-weight: bold;
  color: var(--imp-text-color);
}

a {
  color: var(--imp-text-color);
  font-weight: bold;
}
a > * {
  text-decoration: underline;
}

.noise {
  background: transparent;
}

.noise::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/img-noise-361x370.png);
  z-index: -1;
}
