@font-face {
  font-family: Krypton, arial, sans-serif;
  src: url("/Krypton.ttf");
}

:root {
  font-family: Krypton, monospace;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

:root {
  --page-color: #121212;
  --text-color: #d1d1d1;
  --imp-text-color: white;
  --line-color: #323232;
  --highlight-text-color: white;
}

body {
  margin: 0;
  font-size: 14px;
  color: var(--text-color);
}

.base-padding {
  padding: 10px 20px;
}

.imp-text {
  font-weight: bold;
  color: var(--imp-text-color);
}

a {
  color: var(--imp-text-color);
  font-weight: bold;
}

a > * {
  text-decoration: underline;
}

/* Custom scrollbar */

body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb {
  background: gray;
}

body::-webkit-scrollbar-track {
  background-color: var(--page-color);
}
